.card {
  width: 100%;
  height: 230px;
  background-color: #d0d0d0;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "PT Mono", monospace;
  text-transform: uppercase;
  font-size: 12px;
}

.card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wifi-and-chip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bank-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card-labels,
.card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-number {
  font-size: 24px;
}

.card-holder,
.valid-thru {
  font-size: 18px;
}
